@import '@/assets/styles/tools/mixins';

.s-program-price {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: rem(20) auto;
  background-color: var(--a-color_bg);
  border-radius: var(--a-borderRadius--bg);

  @media screen and (max-width: 991px) {
    margin: rem(12) auto;
  }

  .m-form-pay {
    padding: var(--layout-v-padding) var(--layout-h-padding);
    @media screen and (max-width: 991px) {
      .m-form-pay__course,
      .m-form-pay__reg {
        max-width: 100%;
      }
    }
  }

  .m-form__input.error-name input,
  .m-form__input.error-mail input,
  .m-form__input.error input {
    border: 2px solid var(--a-color_link);
    &:focus {
      border: 2px solid var(--a-color_link);
    }
  }
}
