@import '@/assets/styles/tools/mixins';

.s-program-price {
  margin-bottom: rem(20);
  background: var(--a-color_bg);

  @media (max-width: 991px) {
    margin-bottom: rem(12);
    padding: var(--a-padding--x10) 0;
  }

  @media (max-width: 575px) {
    padding: var(--a-padding--x6) 0;
  }

  .m-form-pay {
    // Todo: после обновления UI-Kit удалить
    border-radius: var(--a-borderRadius--bg);
    width: 100%;
    max-width: rem(1140);
    margin: 0 auto;
    padding: var(--a-padding--x12) var(--a-padding--x20) !important;
    padding: 0 rem(30);

    @media (max-width: 1440px) {
      max-width: rem(1250);
    }

    @media (max-width: 1299px) {
      max-width: 100%;
    }

    @media (max-width: 991px) {
      padding: var(--a-padding--x10) 0;
    }

    @media (max-width: 575px) {
      padding: var(--a-padding--x6) 0;
    }

    &__course {
    }
  }
}
