@import '@/assets/styles/tools/mixins';

.s-program-price {
  .m-form-pay {
    @media screen and (max-width: 767px) {
      padding: var(--a-padding--x6) var(--a-padding--x4);
    }
  }
  &__wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: rem(20) auto;
    background-color: var(--a-color_bg);
    border-radius: var(--a-borderRadius--bg);

    @media screen and (max-width: 991px) {
      margin: rem(12) auto;
    }
  }
}
