@use '../tools/mixins' as *;

body,
html {
  overflow-x: hidden;
}

body {
  background: var(--a-color_bg--secondary);
  font-family: 'TT Norms', serif;
  font-size: 16px;
  &.bg-gray {
    background-color: var(--a-color_bg--secondary);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --layout-width: 81.25rem; // 1300px
  --layout-padding: 5rem; // 80px
  --layout-v-padding: 3.75rem; // 60px
  --aspect-ratio: calc(16 / 9);
}

.l-default,
.l-wide {
  max-width: var(--layout-width);
  margin: 0 auto;
}

.l-default {
  @media all and (max-width: 1399px) {
    padding: 0 var(--layout-padding);
  }
  @media all and (max-width: 1199px) {
    --layout-padding: 1.875rem; // 30px
    --layout-v-padding: 2.5rem; // 40px
  }
  @media all and (max-width: 767px) {
    --layout-padding: 1rem; // 16px
    --layout-v-padding: 2rem; // 32px
  }
}

.l-wide {
  --layout-width: 92.5rem; // 1480px
  --layout-padding: 3rem 2.5rem; // 48px 40px

  padding: var(--layout-padding);
  background: var(--a-color_bg);

  @media all and (max-width: 991px) {
    --layout-padding: 1.5rem 1.875rem; // 24px 16px
  }

  @media all and (max-width: 767px) {
    --layout-padding: 2rem 1rem; // 24px 16px
  }
}

.l-border-radius {
  --layout-bd--radius: 1.25rem; // 20px

  overflow: hidden;
  border-radius: var(--layout-bd--radius);
  box-shadow: 0 2px 10px rgba(235, 235, 235, 0.6);

  @media all and (max-width: 767px) {
    --layout-bd--radius: 1rem; // 16px
  }
}

.s-padding {
  &--smallTop {
    padding: var(--a-padding--x6) 0 var(--a-padding--x12);
    @media screen and (max-width: 767px) {
      padding: var(--a-padding--x2) 0 var(--a-padding--x8);
    }
  }
}

.s-margin {
  margin: var(--a-padding--x5) auto;

  @media screen and (max-width: 1499px) {
    margin: var(--a-padding--x5) 0;
    padding: 0 var(--a-padding--x5);
  }

  @media screen and (max-width: 1199px) {
    margin: var(--a-padding--x6) 0;
    padding: 0;
  }

  @media screen and (max-width: 767px) {
    margin: var(--a-padding--x2) 0;
  }

  @media screen and (max-width: 600px) {
    margin: var(--a-padding--x2) 0;
  }

  &:first-child {
    @media screen and (max-width: 600px) {
      margin: 0 0 var(--a-padding--x2);

      .l-border-radius {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}

div.vue-tel-input {
  display: flex;
  height: 3rem;
  padding: 0;
  color: var(--a-color_text);
  background-color: var(--a-color_bg);
  border: 0.0625rem solid var(--a-color_thumbnail);
  border-radius: var(--a-borderRadius--default);
  outline: none;
  font-size: 0.875rem;
  @media screen and (max-width: 991px) {
    margin-right: 0;
    margin-bottom: var(--a-padding--x3);
  }
  &:focus {
    border: 0.0625rem solid var(--a-color_text--secondary);
  }
  &:invalid {
    color: var(--a-color_link);
    border: 0.0625rem solid var(--a-color_link);
  }
  &:disabled {
    color: var(--a-color_text--secondary);
    background-color: var(--a-color_bg--secondary);
    border: 0.0625rem solid var(--a-color_bg--secondary);
    cursor: auto;
  }
  &:focus-within {
    border-color: var(--a-color_text--secondary);
    box-shadow: none;
  }
  .vti__input {
    width: 100%;
    border: none;
    box-shadow: none;
  }
}

.lander-message {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  width: auto;
  padding: var(--a-padding--x6);
  color: #fff;
  background: #ff0040;

  &-item {
    margin-bottom: var(--a-padding--x1);

    strong {
      width: 50%;
    }
    span {
      margin-left: var(--a-padding--x3);
    }
  }

  &-close {
    position: absolute;
    top: var(--a-padding--x1);
    right: var(--a-padding--x4);
    cursor: pointer;
    &::after {
      content: '\2715';
    }
  }
}

main {
  background: var(--a-color_bg--secondary);
}
