body {
  background-color: var(--a-color_bg--secondary);
  font-family: 'TT Norms', serif;
  font-size: 16px;
}

:root {
  --layout-width: 81.25rem; // 1300px
  --layout-padding: 5rem; // 80px
}

.l-default,
.l-wide {
  max-width: var(--layout-width);
  margin: 0 auto;
}

.l-default {
  @media all and (max-width: 1399px) {
    padding: 0 var(--layout-padding);
  }
  @media all and (max-width: 1199px) {
    --layout-padding: 1.875rem; // 30px
  }
  @media all and (max-width: 767px) {
    --layout-padding: 1rem; // 16px
  }
}

.l-wide {
  --layout-width: 96.25rem; // 1540px
  --layout-padding: 1.875rem; // 30px

  padding: 0 var(--layout-padding);

  @media all and (max-width: 1699px) {
    --layout-width: 82.125rem; // 1314px (1254 + 60)
  }
  @media all and (max-width: 767px) {
    --layout-padding: 1rem; // 16px
  }
}
