@import '@/assets/styles/tools/mixins';

.s-program-minimum-score {
  width: 100%;
  margin: rem(20) auto;
  border-radius: var(--a-borderRadius--bg);

  @media (max-width: 991px) {
    margin-bottom: rem(12);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(40);

    @media (max-width: 991px) {
      margin-bottom: rem(24);
    }

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: rem(32);
    }

    @media (max-width: 575px) {
      margin-bottom: rem(20);
    }
  }

  &__title {
    color: var(--a-color_text);
    @media (max-width: 767px) {
      margin-bottom: rem(24);
    }
    span {
      color: var(--a-color_link);
    }
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .a-tag__item {
      margin-bottom: 0;
      margin-left: reem(8);
      @media (max-width: 767px) {
        margin-right: rerm(8);
        margin-left: 0;
      }
      &_active {
        color: var(--a-color_bg);
        background-color: var(--a-color_link);
      }
    }
  }

  &__item {
    flex: 1;
    box-sizing: border-box;
    padding: var(--a-padding--x8) rem(112) var(--a-padding--x8) var(--a-padding--x8);
    border: rem(1) solid var(--a-color_thumbnail);
    border-radius: var(--a-borderRadius--default);

    @media (max-width: 1399px) {
      padding: var(--a-padding--x8);
    }

    @media (max-width: 767px) {
      padding: var(--a-padding--x6) rem(30);
    }

    @media (max-width: 575px) {
      padding: var(--a-padding--x4);
    }

    &:first-child {
      margin-right: rem(32);
      @media (max-width: 991px) {
        margin-right: rem(16);
      }
      @media (max-width: 767px) {
        margin-right: rem(12);
      }
    }

    &-caption {
      width: 100%;
      margin: 0 0 rem(24);
      white-space: nowrap;
    }

    &-factoids {
      display: flex;
      flex-wrap: nowrap;
      .a-factoid-number__wrapper {
        margin-right: var(--a-padding--x12);

        @media (max-width: 767px) {
          margin-right: var(--a-padding--x6);
        }
      }
      .a-factoid-number__title {
        white-space: nowrap;
      }
    }
  }
}
