@import '@/assets/styles/tools/mixins';

.s-program-exam {
  width: 100%;
  max-width: var(--layout-width);
  margin: rem(20) auto;
  padding: var(--layout-padding);
  background-color: var(--a-color_bg);
  border-radius: var(--a-borderRadius--bg);

  @media (max-width: 991px) {
    margin-bottom: rem(12);
    padding: var(--a-padding--x10) 0;
  }

  @media (max-width: 575px) {
    padding: var(--a-padding--x8) 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(40);

    @media (max-width: 991px) {
      margin-bottom: rem(24);
    }

    @media (max-width: 575px) {
      margin-bottom: rem(20);
    }
  }

  &__title {
    color: var(--a-color_text);
    span {
      color: var(--a-color_link);
    }
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .a-tag__item {
      margin-left: 8px;
      &_active {
        color: #fff;
        background-color: var(--a-color_link);
      }
    }
  }

  &__item {
    flex: 1;
    box-sizing: border-box;
    padding: var(--a-padding--x8);
    padding-right: rem(126);
    border: 1px solid var(--a-color_thumbnail);
    border-radius: var(--a-borderRadius--default);
    &:first-child {
      margin-right: 32px;
    }

    &-caption {
      width: 100%;
      margin: 0 0 rem(24);
      white-space: nowrap;
    }

    &-factoids {
      display: flex;
      flex-wrap: nowrap;
      .a-factoid-number__wrapper {
        margin-right: var(--a-padding--x12);
      }
      .a-factoid-number__title {
        white-space: nowrap;
      }
    }
  }
}
