@import '@/assets/styles/tools/mixins';

.s-program-teacher-horizontal {
  &__wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: rem(20) auto;
    padding: var(--layout-v-padding) var(--layout-padding);
    background-color: var(--a-color_bg);
    border-radius: var(--a-borderRadius--bg);

    @media screen and (max-width: 991px) {
      margin: rem(12) auto;
    }
  }

  & .m-card-speaker {
    @media (max-width: 991px) {
      gap: rem(18);
    }

    @media (max-width: 575px) {
      flex-wrap: wrap;
    }

    &__name {
      color: var(--a-color_text);
    }

    &__title {
      color: var(--a-color_text);
    }

    &__image {
      border-radius: var(--a-borderRadius--default);

      @media (max-width: 575px) {
        max-width: 100%;
      }
    }

    &:not(:last-child) {
      margin-bottom: rem(32);

      @media (max-width: 991px) {
        margin-bottom: rem(24);
      }
    }
  }

  &__title {
    margin-bottom: rem(40);
    color: var(--a-color_text);

    @media (max-width: 991px) {
      margin-bottom: rem(24);
      font-size: rem(20);
    }

    @media (max-width: 575px) {
      margin-bottom: rem(20);
    }

    span {
      color: var(--a-color_link);
    }
  }
}
