@import '/assets/styles/tools/mixins';

.organizations-page {
  padding-top: rem(48);

  @media all and (max-width: 1100px) {
    padding-top: rem(40);
  }

  @media all and (max-width: 767px) {
    padding-top: rem(32);
  }
}
