@import '@/assets/styles/tools/mixins';

.product-school {
  .s-program-teachers {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: rem(20) auto;
    padding: var(--layout-v-padding) var(--layout-h-padding);
    background-color: var(--a-color_bg);
    border-radius: var(--a-borderRadius--bg);

    @media screen and (max-width: 991px) {
      margin: rem(12) auto;
    }
    .m-card-landing-vertical {
      width: rem(270);
    }

    &__items_vertical {
      & .m-card-speaker {
        margin-bottom: rem(32);

        @media (max-width: 991px) {
          margin-bottom: rem(24);
        }
      }
    }

    &__items {
      & .m-card-speaker {
        @media (max-width: 991px) {
          gap: rem(18);
        }

        @media (max-width: 575px) {
          flex-wrap: wrap;
        }

        &:not(:last-child) {
          margin-bottom: rem(32);

          @media (max-width: 991px) {
            margin-bottom: rem(24);
          }
        }

        &__name {
          color: var(--a-color_text);
        }

        &__title {
          color: var(--a-color_text);
        }

        &__image {
          border-radius: var(--a-borderRadius--default);

          @media (max-width: 575px) {
            max-width: 100%;
          }
        }
      }
    }

    &__title {
      margin-bottom: rem(40);
      color: var(--a-color_text);

      @media (max-width: 991px) {
        margin-bottom: rem(24);
        font-size: rem(20);
      }

      @media (max-width: 575px) {
        margin-bottom: rem(20);
      }

      span {
        color: var(--a-color_link);
      }
    }
  }
}
