@import '@/assets/styles/tools/mixins';

.s-contats-note {
  &__title {
    margin-bottom: var(--a-padding--x3);
    @media screen and (max-width: 991px) {
      margin-bottom: var(--a-padding--x6);
    }
  }
}

.m-contact__map {
  display: none;
}
