@import '/assets/styles/tools/mixins';

.catalog-filter {
  &__wrapper {
    width: 100%;
    max-width: rem(240);
    margin-right: rem(40);
  }

  &__filter {
    padding-bottom: rem(32);
  }

  &__checkbox {
    &.a-control__label-box {
      justify-content: space-between;
      padding-left: 0;
      padding-bottom: rem(32);
    }
  }

  &__filter-tags {
    display: flex;
  }
}
