@import '@/assets/styles/tools/mixins';

.s-about {
  padding: rem(20) 0;
  background: var(--a-color_bg--secondary);
  box-shadow: 0 2px 10px rgba(235, 235, 235, 0.6);
  .swiper-container {
    width: 420px;
    max-height: 560px;
  }
  &__box {
    max-height: rem(560);
    background: var(--a-color_text);
    border-radius: rem(20);
  }
  &__wrapper {
    display: flex;
    justify-content: space-around;
    .swiper-wrapper {
      transition-timing-function: linear;
    }
  }
  &__title {
    margin-bottom: rem(17);
    color: var(--a-color_bg);
    font-size: rem(40);
    font-weight: 500;
    line-height: rem(48);
  }
  &__info {
    padding-top: rem(219);
  }
  &__tabs {
    display: flex;
    color: var(--a-color_bg);
    cursor: pointer;
    &__swiper {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(24);
    }
    &-item {
      padding: rem(3) rem(16) rem(9);
      color: var(--a-color_active);
      border: 1.5px solid #a0a8b1;
      border-radius: 12px;
      font-size: 40px;
      font-weight: 500;
      line-height: 47px;
      &:first-child {
        margin-right: rem(20);
      }
    }
    &-item.is-active {
      color: var(--a-color_bg);
      background: var(--a-color_link);
      border: none;
    }
    &-item__content {
      position: absolute;
      left: rem(-9999);
      opacity: 0;
      transition: opacity 0.2s;
    }
    &-item__content.is-active {
      position: static;
      display: flex;
      opacity: 1;
    }
    &-content {
      &__slides {
        height: auto;
        background: #fff;
        border-radius: 10px;
      }

      &__slide {
        padding: rem(24) rem(24) rem(16) rem(24);
      }

      &__top {
        display: flex;
        align-items: center;
        margin-bottom: rem(16);
      }

      &__info {
        margin-left: rem(12);

        &-title {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
        }

        &-subtitle {
          color: var(--a-color_text--secondary);
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
        }
      }

      &__text {
        margin-bottom: rem(16);
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
      }

      &__stars {
        display: flex;
        align-items: center;

        &-rate {
          margin-left: rem(5);
        }
      }
    }
  }
}
