@import '@/assets/styles/tools/mixins';

.s-about {
  .l-wide {
    overflow: hidden;
    padding: 0;
    background: none;
  }
  .swiper-container {
    width: rem(420);
    max-height: rem(560);
    @media screen and (max-width: 1380px) {
      width: rem(380);
    }
    @media screen and (max-width: 1024px) {
      width: rem(330);
    }
    @media screen and (max-width: 991px) {
      width: rem(265);
    }
    @media screen and (max-width: 767px) {
      width: unset;
    }
  }
  &__box {
    max-height: rem(560);
    background: var(--a-color_text);
    border-radius: rem(20);
    @media screen and (max-width: 1200px) {
      max-height: rem(344);
    }
    @media screen and (max-width: 767px) {
      max-height: rem(730);
    }
  }
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 rem(56) 0 rem(40);
    @media screen and (max-width: 1380px) {
      padding: 0 rem(12) 0 rem(30);
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
      padding: rem(32) rem(16);
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      min-height: rem(560);
      background: url(../../static/about/circle.png);
      border-radius: rem(20);
      @media screen and (max-width: 1380px) {
        display: none;
      }
    }
    .swiper-wrapper {
      transition-timing-function: linear;
    }
  }
  &__title {
    margin-bottom: rem(17);
    color: var(--a-color_bg);
    font-size: rem(40);
    font-weight: 500;
    line-height: rem(48);
    @media screen and (max-width: 1200px) {
      margin-bottom: rem(10);
      font-size: rem(20);
      line-height: rem(24);
    }
  }
  &__info {
    padding-top: rem(219);
    @media screen and (max-width: 1200px) {
      padding-top: rem(115);
    }
    @media screen and (max-width: 767px) {
      padding-top: 0;
    }
  }
  &__tabs {
    display: flex;
    color: var(--a-color_bg);
    cursor: pointer;
    @media screen and (max-width: 1380px) {
      flex-direction: column;
    }
    @media screen and (max-width: 767px) {
      flex-direction: row;
      margin-bottom: rem(24);
    }
    &__swiper {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(24);
      @media screen and (max-width: 1380px) {
        gap: rem(16);
      }
      @media screen and (max-width: 767px) {
        display: unset;
      }
    }
    &-item {
      width: 100%;
      max-width: fit-content;
      padding: rem(3) rem(16) rem(9);
      color: var(--a-color_active);
      border: rem(1.5) solid var(--a-color_active);
      border-radius: rem(12);
      font-size: rem(40);
      font-weight: 500;
      line-height: rem(47);
      @media screen and (max-width: 1200px) {
        padding: rem(4) rem(12.5) rem(9);
        font-size: rem(20);
        line-height: rem(24);
      }
      &:first-child {
        margin-right: rem(20);
        @media screen and (max-width: 1380px) {
          margin-right: 0;
          margin-bottom: rem(8);
        }
        @media screen and (max-width: 767px) {
          margin-right: rem(8);
          margin-bottom: 0;
        }
      }
    }
    &-item.is-active {
      color: var(--a-color_bg);
      background: var(--a-color_link);
      border: none;
    }
    &-item__content {
      position: absolute;
      left: rem(-9999);
      opacity: 0;
      transition: opacity 0.2s;
    }
    &-item__content.is-active {
      position: static;
      display: flex;
      opacity: 1;
    }
    &-content {
      &__slides {
        height: auto;
        background: var(--a-color_bg);
        border-radius: rem(10);
        @media screen and (max-width: 767px) {
          width: 265px !important;
        }
      }

      &__slide {
        padding: rem(24) rem(24) rem(16) rem(24);
        @media screen and (max-width: 1380px) {
          padding: rem(16) rem(14) rem(20) rem(16);
        }
      }

      &__top {
        display: flex;
        align-items: center;
        margin-bottom: rem(16);
      }

      &__info {
        margin-left: rem(12);

        &-title {
          font-size: rem(16);
          font-weight: 500;
          line-height: rem(24);
          @media screen and (max-width: 991px) {
            font-size: rem(12);
            line-height: rem(16);
          }
        }

        &-subtitle {
          color: var(--a-color_text--secondary);
          font-size: rem(14);
          font-weight: 400;
          line-height: rem(20);
          @media screen and (max-width: 991px) {
            font-size: rem(10);
            line-height: rem(16);
          }
        }
      }

      &__text {
        margin-bottom: rem(16);
        font-size: rem(18);
        font-weight: 400;
        line-height: rem(28);
        @media screen and (max-width: 991px) {
          font-size: rem(12);
          line-height: rem(16);
        }
      }

      &__stars {
        display: flex;
        align-items: center;

        &-rate {
          margin-left: rem(5);
          font-size: rem(14);
          line-height: rem(20);
          @media screen and (max-width: 991px) {
            font-size: rem(10);
            line-height: rem(16);
          }
          span {
            opacity: 0.5;
          }
        }
      }
    }
  }
  &__content {
    padding-left: rem(100);
    @media screen and (max-width: 1499px) {
      padding-left: rem(30);
    }
    @media screen and (max-width: 991px) {
      padding-left: rem(15);
    }

    @media screen and (max-width: 991px) {
      padding-left: 0;
    }
  }
}
