@import '@/assets/styles/tools/mixins';

.s-program-announce {
  .m-card-announce {
    width: rem(323);

    @media (max-width: 767px) {
      width: rem(274);
    }

    @media (max-width: 575px) {
      width: rem(254);
    }

    a {
      text-decoration: none;
    }
  }
  &__wrapper {
    width: 100%;
    margin: rem(20) auto;
    padding: var(--layout-v-padding) var(--layout-padding);
    background-color: var(--a-color_bg);
    border-radius: var(--a-borderRadius--bg);

    @media (max-width: 991px) {
      margin: rem(12) auto;
    }
  }

  &__title {
    margin-bottom: rem(40);

    @media (max-width: 991px) {
      margin-bottom: rem(24);
    }
  }
}
