@import '@/assets/styles/tools/mixins';

.s-program-skills {
  position: relative;
  overflow: hidden;
  width: 100%;
  color: var(--a-color_text);

  @media (max-width: 991px) {
    margin-bottom: rem(12);
  }

  .a-listElement {
    &__wrapper {
      width: 33.333%;
      padding: 0 rem(12);

      @media screen and (max-width: 767px) {
        width: 100%;
        padding-bottom: var(--a-padding--x4);
      }

      &:not(:nth-last-child(1), :nth-last-child(2), :nth-last-child(3)) {
        padding-bottom: var(--a-padding--x5);

        @media screen and (max-width: 991px) {
          padding-bottom: var(--a-padding--x8);
        }
        @media screen and (max-width: 767px) {
          padding-bottom: var(--a-padding--x4);
        }
      }
    }
  }
  &__title {
    margin-bottom: rem(40);

    @media screen and (max-width: 991px) {
      margin-bottom: rem(24);
    }
    @media screen and (max-width: 767px) {
      margin-bottom: rem(20);
    }

    span {
      color: var(--a-color_link);
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 rem(-12);

    @media screen and (max-width: 767px) {
      display: block;
    }
  }
}
