@import '@/assets/styles/tools/mixins';

.m-location {
  .a-button {
    height: auto;

    &__label {
      padding: 0;
      font-size: rem(14);
      line-height: rem(14);
    }

    &--medium .a-button__label {
      padding: 0;
    }
  }
}
