@import '/assets/styles/tools/mixins';

.catalog-page {
  &__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &-icon {
      display: flex;
      align-items: center;
      font-size: rem(20);
      cursor: pointer;

      span {
        padding-left: rem(6);
        font-style: normal;
      }
    }

    &-tags {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__select {
    @media screen and (max-width: 900px) {
      margin-right: auto;
    }
  }
}
