@import '/assets/styles/tools/mixins';

.catalog-page {
  &__popup {
    .a-popup__container {
      overflow-y: scroll;
      width: 100%;
      max-height: rem(696);
      padding: 0 0 rem(10);
    }

    .a-popup__close {
      position: sticky;
      z-index: 10;
      top: rem(10);
    }

    &-header {
      position: sticky;
      top: 0;
      padding-bottom: rem(5);
      background: var(--a-color_bg);
      border-radius: rem(5);
    }

    &-title {
      margin-bottom: rem(15);
      padding-top: rem(10);
      padding-left: rem(16);
    }

    &-search {
      width: 100%;
      padding-right: rem(16);
      padding-left: rem(16);

      .a-input__row {
        width: 100%;
      }
    }

    &-categories {
      display: flex;
      flex-direction: column;
    }

    &-category {
      padding: rem(14) 0 rem(14) rem(16);
      border-radius: rem(10);

      &:hover {
        color: var(--a-color_bg);
        background: var(--a-color_link);
      }

      &.active {
        color: var(--a-color_bg);
        background: var(--a-color_link);
      }

      & + .catalog-page__popup-category {
        border-top: rem(1) solid var(--a-color_bg--secondary);
      }
    }
  }

  &__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 rem(10) rem(20);

    @media screen and (max-width: 1350px) {
      margin-bottom: rem(16);
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
      margin-bottom: rem(24);
    }

    &-categories {
      display: none;
      justify-content: space-between;
      width: 100%;
      margin-bottom: rem(24);

      @media screen and (max-width: 767px) {
        display: flex;
      }

      @media screen and (max-width: 500px) {
        flex-direction: column;
      }

      &--input {
        display: flex;
        justify-content: space-between;
        width: 50%;
        padding: rem(14);
        background: var(--a-color_bg--secondary);
        border: rem(1) solid var(--a-color_bg--secondary);
        border-radius: rem(10);
        cursor: pointer;

        @media screen and (max-width: 500px) {
          width: 100%;
        }

        &:hover {
          border: rem(1) solid var(--a-color_link);
        }

        & + .catalog-page__filters-categories--input {
          margin-left: rem(30);

          @media screen and (max-width: 500px) {
            margin-top: rem(12);
            margin-left: 0;
          }
        }

        h5 {
          color: var(--a-color_text);
          font-size: rem(14);
          line-height: rem(20);

          &.placeholder {
            color: var(--a-color_text--secondary);
          }
        }

        //.a-input__row {
        //  width: 100%;
        //}
        //
        //.a-input:disabled {
        //  background: transparent;
        //  border: rem(1) solid var(--a-color_thumbnail);
        //  cursor: pointer;
        //}
        //
        //.a-input::placeholder {
        //  color: var(--a-color_text);
        //}
        //
        //.a-input:hover {
        //  border: rem(1) solid var(--a-color_link);
        //}
        //
      }
    }

    &-selects {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }

    &-icon {
      display: flex;
      align-items: center;
      margin-left: auto;
      font-size: rem(20);
      cursor: pointer;

      @media screen and (min-width: 767px) {
        display: none;
      }

      span {
        padding-left: rem(6);
        font-style: normal;
      }
    }

    &-tags {
      display: flex;
      flex-wrap: wrap;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  &__select {
    z-index: 2;
    min-width: rem(200);
    @media screen and (max-width: 767px) {
      margin-right: auto;
    }
  }
}
