@import '@/assets/styles/tools/mixins';

.s-program-free {
  width: 100%;
  max-width: rem(1300);
  margin: rem(20) auto;

  @media (max-width: 1299px) {
    max-width: 100%;
  }

  @media (max-width: 991px) {
    margin: rem(12) auto;
  }

  &__title {
    margin: 0 0 rem(40);
  }
}
