@import '@/assets/styles/tools/mixins';

.a-tooltip {
  position: absolute;
  z-index: 101;
  overflow: hidden;
  width: max-content;
  padding: var(--a-padding--x4);
  background-color: var(--a-color_bg);
  border-radius: var(--a-borderRadius--bg);
  box-shadow: 0 0 rem(12) rgba(0, 0, 0, 0.06);

  &--bottom-right {
    top: calc(100% + rem(12));
    right: 0;
  }
  &--top-right {
    right: 0;
    bottom: calc(100% + rem(12));
  }
  &--bottom-left {
    top: calc(100% + rem(12));
    left: 0;
  }
  &--top-left {
    left: 0;
    bottom: calc(100% + rem(12));
  }
}
