@import '@/assets/styles/tools/mixins';

.cityPopupOpened {
  overflow: hidden !important;
  height: 100%;
}

.popup-location {
  &__dialog {
    & .a-popup {
      width: 100%;
      &__container {
        @media screen and (min-width: 992px) {
          position: relative;
          width: rem(628);
        }

        @media screen and (max-width: 768px) {
          display: flex;
          flex-direction: column;

          .a-popup-close,
          .popup-animated__title,
          .popup-location__dialog-note {
            order: 0;
          }

          .popup-location__dialog-checkbox {
            order: 1;
          }

          .a-input__wrapper,
          .popup-location__dialog-list {
            order: 2;
          }
        }
      }
    }

    & .a-input {
      &__row {
        width: 100%;
      }
    }

    &-note {
      margin: 0 0 rem(24);
    }

    &-list {
      display: flex;
      overflow: auto;
      flex-direction: column;
      max-height: rem(288);
      @media screen and (min-width: 768px) {
        overflow: unset;
        flex-direction: row;
        max-height: unset;
        margin: rem(18) rem(-4) 0;
        flex-wrap: wrap;
      }

      &-item {
        position: relative;
        display: flex;
        flex: none;
        align-items: center;
        height: rem(48);
        line-height: 1;
        @media screen and (min-width: 768px) {
          overflow: hidden;
          height: unset;
          margin: rem(6) rem(4);
          border-radius: var(--a-borderRadius--default);
        }

        span {
          display: flex;
          align-items: center;
          height: 100%;
          transition: 0.2s;
          @media screen and (min-width: 768px) {
            padding: rem(12) rem(24);
            background-color: var(--a-color_banner--lightcyan);
          }
        }
        &:hover span {
          color: var(--a-color_link);
          @media screen and (min-width: 768px) {
            color: var(--a-color_bg);
            background-color: var(--a-color_banner--blue);
          }
        }

        input {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
          &:checked ~ span {
            @media screen and (min-width: 768px) {
              color: var(--a-color_bg);
              background-color: var(--a-color_banner--blue);
            }
          }
        }
      }
    }

    &-checkbox {
      margin: rem(12) 0 rem(16);
      & .a-control {
        &__label {
          padding: 0;
        }
      }
    }

    &-bottom {
      display: none;
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: flex-end;
      }

      & .a-button {
        flex: 1;
        margin-left: rem(8);
        &:first-child {
          margin-left: 0;
        }
        @media screen and (min-width: 768px) {
          flex: none;
        }
      }
    }
  }
}
