@import '@/assets/styles/tools/mixins';

.s-contacts-form {
  .m-form {
    padding: 0;
  }

  .m-form__input.error-name input,
  .m-form__input.error-mail input {
    border: 2px solid var(--a-color_link);
    &:focus {
      border: 2px solid var(--a-color_link);
    }
  }
  &__title {
    margin-bottom: var(--a-padding--x10);
    @media screen and (max-width: 991px) {
      margin-bottom: var(--a-padding--x6);
    }
  }
}
