@import '@/assets/styles/tools/mixins';

.s-program-start {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: rem(20) auto;
  padding: var(--layout-v-padding) var(--layout-h-padding);
  background-color: #e6e4f1;
  border-radius: var(--a-borderRadius--bg);

  @media screen and (max-width: 991px) {
    margin: rem(12) auto;
  }

  & .s-program-start__event {
    bottom: rem(18);
    max-height: fit-content;
  }
}
