@import '/assets/styles/tools/mixins';
:root {
  --layout-v-padding: 3.75rem;
  --layout-h-padding: 5rem;

  @media all and (max-width: 1199px) {
    --layout-v-padding: 2.5rem;
    --layout-h-padding: 1.875rem;
  }

  @media all and (max-width: 767px) {
    --layout-v-padding: 1rem;
  }
}

.catalog-page {
  &__section {
    &-lp {
      margin-bottom: rem(20);
      padding: rem(32) 0 0 0;

      &__popup {
        max-width: rem(1300);

        & .s-program-start__photo {
          @media all and (max-width: 700px) {
            width: 100%;
            max-width: 28.125rem;
            margin: 0 auto rem(24);
          }
          &-top {
            @media all and (max-width: 767px) {
              width: 45%;
            }
          }
        }

        & .s-program-content {
          padding-top: rem(15);
          padding-bottom: rem(15);
          @media screen and (max-width: 767px) {
            padding: 0 rem(5);
          }

          &__top {
            margin-bottom: rem(20);
            @media screen and (max-width: 767px) {
              margin-bottom: rem(10);
            }
          }
        }

        & .s-program-skills {
          padding-top: rem(10);
          @media screen and (max-width: 767px) {
            padding: 0 rem(5);
          }
        }

        & .s-program-teachers {
          padding-top: rem(15);
          @media screen and (max-width: 767px) {
            padding: 0 rem(5);
          }
        }
      }
    }
  }

  &__content {
    display: flex;
    padding: rem(24) 0 rem(30) 0;

    @media all and (max-width: 1200px) {
      padding: rem(20) 0 rem(20) 0;
    }

    @media all and (max-width: 767px) {
      padding: rem(20) 0 rem(10) 0;
    }
  }

  &__filters-icon {
    &-lp {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: rem(15);

      @media screen and (min-width: 767px) {
        display: none;
      }
    }
  }

  &__header-total {
    color: var(--a-color_active);
    font-size: rem(16);

    @media all and (max-width: 500px) {
      display: flex;
    }
  }
}

.catalog-product-list {
  flex: 1;
  margin-bottom: rem(48);

  &__button {
    margin: 0 auto;
  }

  &__title {
    margin-bottom: rem(16);
  }
  &-wrapper {
    width: 100%;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 rem(-10) rem(38);

    &-sorry {
      padding-left: rem(15);
    }

    @media screen and (max-width: 1200px) {
      margin-bottom: rem(24);
    }

    @media screen and (max-width: 767px) {
      margin-bottom: rem(10);
    }
  }

  &__item {
    cursor: pointer;
    &-wrapper {
      display: flex;
      width: 100%;
      max-width: calc((100% / 2) - rem(20));
      margin: 0 rem(10) rem(20);
      text-decoration: none;

      @media screen and (max-width: 1300px) {
        max-width: calc((100% / 2) - rem(20));
      }

      @media screen and (max-width: 970px) {
        max-width: 100%;
      }

      @media screen and (max-width: 767px) {
        margin-bottom: rem(16);
      }

      @media screen and (max-width: 650px) {
        max-width: 100%;
      }
    }

    &-section {
      display: flex;
      width: 100%;
      max-width: calc((100% / 2) - rem(20));
      margin: 0 rem(10) rem(20);
      text-decoration: none;

      @media screen and (max-width: 1200px) {
        max-width: 100%;
      }

      @media screen and (max-width: 767px) {
        max-width: calc((100% / 2) - rem(20));
        margin-bottom: rem(16);
      }

      @media screen and (max-width: 650px) {
        max-width: 100%;
      }
    }
  }
}
