@import '@/assets/styles/tools/mixins';

.s-article-detail {
  position: relative;
  max-width: rem(800);
  margin: 0 auto;
  padding-top: rem(35);
  padding-bottom: rem(100);

  @media screen and (max-width: 991px) {
    margin-right: 0;
    margin-left: 0;
    padding-bottom: rem(32);
  }

  @media screen and (max-width: 767px) {
    padding-top: rem(7);
  }

  .l-default {
    @media screen and (max-width: 991px) {
      padding: 0;
    }
  }

  .m-card-program {
    &__title {
      margin-top: 0;
      font-size: rem(18);
      line-height: rem(28);
      @media screen and (max-width: 991px) {
        margin-top: 0;
        font-size: rem(16);
        line-height: rem(24);
      }
    }
  }

  &__head {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: var(--a-padding--x8);
    border-bottom: 1px solid var(--a-color_bg--secondary);

    @media screen and (max-width: 991px) {
      padding-bottom: var(--a-padding--x6);
    }
  }

  &__top {
    position: relative;
    display: flex;
    align-items: center;

    &-share {
      display: block;
      margin-left: auto;
      padding: 0.3125rem 0.1875rem 0.3125rem 0.125rem;
      background: var(--a-color_bg);
      border-radius: 100%;
      font-size: 1.25;
      cursor: pointer;
    }

    &-icon {
      font-size: rem(20);
    }

    &-tag {
      margin-right: rem(20);
      color: var(--a-color_link);
      text-transform: uppercase;
    }
  }

  &__btn {
    margin-left: auto;
  }

  &__body {
    padding-top: var(--a-padding--x8);

    @media screen and (max-width: 767px) {
      padding-bottom: var(--a-padding--x5);
    }
  }

  &__content {
    margin-top: rem(32);

    @media screen and (max-width: 767px) {
      margin-top: rem(20);
    }

    &-subtitle {
      margin-top: rem(22);

      @media screen and (max-width: 991px) {
        margin-top: rem(20);
      }

      @media screen and (max-width: 767px) {
        margin-top: rem(16);
      }
    }

    &-body {
      margin-top: rem(32);

      @media screen and (max-width: 767px) {
        margin-top: rem(22);
      }

      ul,
      ol {
        margin-top: rem(20);
        padding-left: rem(20);
        li {
          margin-bottom: rem(8);
          font-size: rem(18);
          line-height: rem(28);

          @media screen and (max-width: 991px) {
            font-size: rem(16);
            line-height: rem(20);
          }
        }
      }

      ul {
        list-style-type: disc;
      }

      a {
        color: var(--a-color_link);
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }

      p {
        &:not(:empty) {
          margin-top: rem(32);
          font-size: rem(18);
          line-height: rem(28);
          @media screen and (max-width: 991px) {
            margin-top: rem(20);
            font-size: rem(16);
            line-height: rem(20);
          }
        }
      }

      blockquote {
        position: relative;
        margin-top: rem(40);
        padding-top: rem(6);
        padding-right: rem(40);
        padding-left: rem(40);
        padding-bottom: rem(52);
        color: var(--a-color_text--secondary);
        background-color: var(--a-color_bg--secondary);
        border-radius: rem(10);
        font-weight: 500;

        &::before {
          content: url('~/assets/images/quotes.svg');
          position: absolute;
          top: rem(-19);
          left: rem(40);
          width: rem(50);
          height: rem(40);
        }
      }
    }

    &-preview {
      margin-top: rem(32);
    }
  }

  &__time {
    display: flex;
    align-items: center;
    margin-top: rem(20);

    @media screen and (max-width: 767px) {
      margin-top: rem(16);
    }

    &-icon {
      width: rem(24);
      height: rem(24);
      margin-right: rem(8);
    }

    &-text {
      color: var(--a-color_active);
    }
  }

  &__directions {
    margin-top: rem(40);
    padding: rem(30) var(--a-padding--x6) rem(38);
    background: var(--a-color_bg--secondary);
    @media screen and (max-width: 991px) {
      padding: var(--a-padding--x6) var(--a-padding--x2);
    }
    .a-tag {
      &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: fit-content;
        margin-right: rem(8);
        margin-bottom: var(--a-padding--x4);
        border: 1px solid var(--a-color_text);
        border-radius: rem(35);
      }
    }

    &__items {
      display: flex;
      align-items: center;
    }

    &-title {
      margin-bottom: 26px;
      text-align: center;
    }
  }

  &__releative {
    margin-top: rem(70);
    @media screen and (max-width: 991px) {
      margin-top: rem(32);
    }
    &-title {
      text-align: center;
    }

    h3 {
      margin-top: 0;
    }

    &-item {
      width: rem(360);
    }

    &-slider {
      margin-top: rem(24);
    }
  }

  &__program {
    width: rem(360);
  }

  &__programs {
    &-title {
      margin-bottom: rem(24);
      text-align: center;

      @media screen and (max-width: 991px) {
        margin-top: 0 !important;
      }
    }
    &-btn {
      margin: rem(32) auto 0;

      @media screen and (max-width: 991px) {
        margin: rem(20) auto 0;
      }

      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }

  &__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: rem(40);
    @media screen and (max-width: 991px) {
      margin-top: rem(32);
    }
    .a-tag {
      &__item {
        max-width: fit-content;
        margin-right: rem(12);
        background: var(--a-color_bg);
        border: 1px solid var(--a-color_text);
        border-radius: var(--a-borderRadius--default);

        &:hover {
          color: inherit;
        }
      }
    }
  }

  h3 {
    margin-top: rem(40);
    font-size: rem(28);
    line-height: rem(36);
    @media screen and (max-width: 991px) {
      margin-top: rem(32);
      font-size: rem(20);
      line-height: rem(20);
    }
  }

  br {
    display: none;
  }

  figure {
    margin: rem(32) 0;
  }

  figcaption {
    margin-top: rem(8);
    color: var(--a-color_active);
    text-align: center;
  }
}
