@import '@/assets/styles/tools/mixins';

.s-article-detail {
  position: relative;
  max-width: rem(800);
  margin: 0 auto;
  padding-top: rem(35);
  padding-bottom: rem(100);

  @media screen and (max-width: 991px) {
    margin-right: 0;
    margin-left: 0;
    padding-bottom: rem(32);
  }

  @media screen and (max-width: 767px) {
    padding-top: rem(7);
  }

  .l-default {
    @media screen and (max-width: 991px) {
      padding: 0;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: var(--a-padding--x8);
    border-bottom: 1px solid var(--a-color_bg--secondary);

    @media screen and (max-width: 991px) {
      padding-bottom: var(--a-padding--x6);
    }
  }

  &__top {
    position: relative;
    display: flex;
    align-items: center;

    &-share {
      display: block;
      margin-left: auto;
      padding: 0.3125rem 0.1875rem 0.3125rem 0.125rem;
      background: var(--a-color_bg);
      border-radius: 100%;
      font-size: 1.25;
      cursor: pointer;
    }

    &-icon {
      font-size: rem(20);
    }

    &-tag {
      margin-right: rem(20);
      color: var(--a-color_link);
      text-transform: uppercase;
    }
  }

  &__btn {
    margin-left: auto;
  }

  &__body {
    padding-top: var(--a-padding--x8);

    @media screen and (max-width: 767px) {
      padding-bottom: var(--a-padding--x5);
    }
  }

  &__content {
    margin-top: rem(32);

    @media screen and (max-width: 767px) {
      margin-top: rem(20);
    }

    &-subtitle {
      margin-top: rem(22);

      @media screen and (max-width: 991px) {
        margin-top: rem(20);
      }

      @media screen and (max-width: 767px) {
        margin-top: rem(16);
      }
    }

    &-body {
      margin-top: rem(32);

      @media screen and (max-width: 767px) {
        margin-top: rem(22);
      }
    }
  }

  &__time {
    display: flex;
    align-items: center;
    margin-top: rem(20);

    @media screen and (max-width: 767px) {
      margin-top: rem(16);
    }

    &-icon {
      width: rem(24);
      height: rem(24);
      margin-right: rem(8);
    }

    &-text {
      color: var(--a-color_active);
    }
  }

  p {
    &:not(:empty) {
      margin-top: rem(32);
      font-size: rem(18);
      line-height: rem(28);
      @media screen and (max-width: 991px) {
        margin-top: rem(20);
        font-size: rem(16);
        line-height: rem(20);
      }
    }
  }

  h3 {
    margin-top: rem(40);
    font-size: rem(28);
    line-height: rem(36);
    @media screen and (max-width: 991px) {
      margin-top: rem(32);
      font-size: rem(20);
      line-height: rem(20);
    }
  }

  br {
    display: none;
  }
}
