@import '@/assets/styles/tools/mixins';

.product-school {
  .s-program-price {
    position: relative;
    display: flex;
    width: 100%;
    margin: rem(20) auto;
    padding: var(--layout-v-padding) var(--layout-h-padding);
    border-radius: var(--a-borderRadius--bg);

    @media screen and (max-width: 1099px) {
      flex-direction: column;
    }

    @media screen and (max-width: 991px) {
      margin: rem(12) auto;
    }
    @media screen and (max-width: 767px) {
      padding: var(--a-padding--x8) var(--a-padding--x4);
    }

    .m-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: rem(391);
      height: 100%;
      min-height: rem(564);
      background: var(--a-color_bg--secondary);
      border-radius: var(--a-borderRadius--default);

      @media screen and (max-width: 1099px) {
        flex-direction: row;
        max-width: 100%;
        min-height: 0;
      }

      @media screen and (max-width: 767px) {
        flex-direction: column;
      }
    }

    .m-form__box,
    .m-form__inputs {
      @media screen and (max-width: 991px) {
        width: 50%;
      }

      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }

    .m-form__inputs {
      flex-direction: column;
    }

    .a-input__wrapper,
    .m-form__submit {
      width: 100%;
    }

    .a-input__wrapper {
      margin-bottom: rem(12);
    }

    .m-form .a-control__label {
      align-items: flex-start;
    }

    &__info {
      width: rem(729);
      min-height: rem(564);
      margin-right: rem(20);
      padding: var(--a-padding--x8) var(--a-padding--x10);
      background: var(--a-color_bg--secondary);
      border-radius: var(--a-borderRadius--default);

      @media screen and (max-width: 1099px) {
        width: 100%;
        min-height: 0;
        margin-right: 0;
        margin-bottom: rem(20);
      }

      @media screen and (max-width: 767px) {
        padding: var(--a-padding--x6) var(--a-padding--x4);
      }
    }

    &__title {
      margin-bottom: rem(20);
    }

    &__item {
      display: flex;
      margin-bottom: rem(16);
      padding: var(--a-padding--x4);
      background: var(--a-color_bg);

      &:last-child {
        margin-bottom: 0;
      }

      &-column {
        margin-right: rem(44);

        @media screen and (max-width: 991px) {
          margin-right: rem(24);
        }

        &:last-child {
          margin-right: 0;
        }
      }

      &-title {
        margin-bottom: rem(8);
      }
    }

    &__year {
      &-oldprice {
        position: relative;
        max-width: fit-content;
        margin-bottom: rem(8);
        color: var(--a-color_active);

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 1px;
          background: var(--a-color_active);
          transform: translateY(-50%);
        }
      }

      &-price {
        color: var(--a-color_link);
      }
    }

    &.bg--blue {
      background-image: url('/school/form-bg-blue.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &.bg--blue {
    background: url('/school/form-bg-blue.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
