@import '@/assets/styles/tools/mixins';

.s-main-search {
  background-color: var(--a-color_bg--secondary);
  &__title {
    margin-bottom: var(--a-padding--x6);
    @media screen and (max-width: 767px) {
      margin-bottom: var(--a-padding--x5);
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1199px) {
      display: block;
    }

    & + .s-main-search__row {
      margin-top: var(--a-padding--x10);
      @media screen and (max-width: 1199px) {
        margin-top: var(--a-padding--x6);
      }
      @media screen and (max-width: 991px) {
        margin-top: var(--a-padding--x4);
      }
      @media screen and (max-width: 767px) {
        margin-top: var(--a-padding--x6);
      }
    }
  }

  &__box {
    background-color: var(--a-color_bg);
  }

  &__category {
    //width: rem(160);
    width: 100%;
    min-width: rem(160);
    margin-bottom: rem(16);
    @media screen and (max-width: 1199px) {
      margin-bottom: var(--a-padding--x2);
    }
    @media screen and (max-width: 600px) {
      margin-bottom: var(--a-padding--x3);
    }
  }

  &__items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 0 rem(-20) rem(-16);
    @media screen and (max-width: 991px) {
      margin: 0 rem(-12) rem(-16);
    }
    @media screen and (max-width: 768px) {
      justify-content: space-between;
    }
    @media screen and (max-width: 450px) {
      margin: 0 rem(-12) rem(-8);
    }
    //gap: rem(16) rem(40);
    //@media screen and (max-width: 1499px) {
    //  column-gap: rem(20);
    //}
    //@media screen and (max-width: 991px) {
    //  column-gap: rem(8);
    //}

    .a-button {
      height: rem(24);
      color: var(--a-color_link);
      white-space: nowrap;

      .a-button__label {
        padding-left: 0;
      }

      &.is-open {
        flex: 1;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    width: calc(25% - rem(40));
    max-width: rem(320);
    margin: 0 rem(20) rem(16);
    color: inherit;
    text-decoration: none;
    @media screen and (max-width: 991px) {
      width: calc(33.333% - rem(24));
      margin: 0 rem(12) rem(16);
    }
    @media screen and (max-width: 768px) {
      width: calc(50% - rem(24));
    }
    @media screen and (max-width: 450px) {
      width: calc(100% - rem(24));
      max-width: 100%;
      margin: 0 rem(12) rem(8);
    }

    &:hover {
      background-color: var(--a-color_bg--secondary);
      border-radius: rem(10);
      cursor: pointer;
    }

    &--btn.is-open {
      flex-basis: 100%;
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: rem(48);
      min-height: rem(48);
    }

    &-title {
      overflow: hidden;
      width: min-content;
      margin-left: rem(16);
      white-space: nowrap;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;

      span {
        max-width: 100%;
        @media screen and (max-width: 480px) {
          max-width: rem(120);
        }
      }
    }

    &-count {
      padding-left: rem(8);
      color: var(--a-color_active);
    }
  }

  &__btn-link {
    display: flex;
    max-width: rem(250);
    margin: var(--a-padding--x6) auto 0;
    text-decoration: none;
    @media screen and (max-width: 991px) {
      margin-top: var(--a-padding--x5);
    }
    @media screen and (max-width: 767px) {
      margin-top: var(--a-padding--x8);
    }
    .a-button {
      margin-left: auto;
      @media screen and (max-width: 991px) {
        height: var(--a-padding--x10);
      }
      @media screen and (max-width: 575px) {
        width: 100%;
      }
    }
  }

  &__more-btn {
    display: flex;
    align-items: center;
    color: var(--a-color_link);
    background: transparent;
    border: none;
    font-size: rem(16);
    line-height: rem(22);

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(48);
      height: rem(48);
    }

    span {
      margin-left: rem(16);
    }
  }
}
