@import '@/assets/styles/tools/mixins';

.menu_bottom {
  display: flex;
  align-items: center;
  width: 100%;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .a-popup__container {
    max-width: 50%;
    @media screen and (max-width: 991px) {
      max-width: 80%;
    }
    @media screen and (max-width: 767px) {
      max-width: 95%;
    }

    h1 {
      margin-bottom: rem(21);
      @media screen and (max-width: 767px) {
        font-size: rem(14);
      }
    }
    h2 {
      margin-bottom: rem(16);
      @media screen and (max-width: 767px) {
        font-size: rem(12);
      }
    }

    ul {
      display: flex;
      flex-direction: column;
    }
    p,
    li {
      width: 100%;
      margin-bottom: rem(8);
      font-size: rem(12);
      text-align: left;
      @media screen and (max-width: 767px) {
        font-size: rem(10);
      }
    }

    a {
      margin-bottom: rem(16);
      color: var(--a-color_link);
      text-decoration: underline;
      @media screen and (max-width: 767px) {
        font-size: rem(12);
      }
    }
  }

  &__accord {
    margin-right: rem(40);
    color: var(--a-color_active);
    text-decoration: none;
    cursor: pointer;
    user-select: none;

    @media screen and (max-width: 767px) {
      margin-bottom: rem(8);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:hover {
      color: hsl(var(--a-color_activeHSL), calc(66% - 5%));
    }
  }

  &__popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
