@import '@/assets/styles/tools/mixins';

.s-main-topics {
  padding: rem(24) 0;
  background: var(--a-color_bg--secondary);

  @media screen and (max-width: 767px) {
    padding: rem(8) 0;
  }

  .l-wide {
    padding: 0;
  }

  &__swiper {
    position: relative;
  }

  &__wrapper {
    padding: 0 var(--layout-padding);
    @media screen and (max-width: 767px) {
      padding: rem(24) var(--layout-padding);
      background-color: var(--a-color_bg);
      border-radius: rem(10);
    }
  }
  &__title {
    margin-bottom: rem(24);

    @media screen and (max-width: 970px) {
      margin-bottom: rem(16);
    }
  }

  &__slide {
    width: rem(190);
    height: 100%;
    min-height: rem(260);
    @media screen and (max-width: 991px) {
      width: rem(136);
      height: 100%;
      min-height: rem(180);
    }
    a {
      text-decoration: none;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: rem(16);

    @media screen and (max-width: 970px) {
      grid-template-columns: repeat(2, 1fr);
    }

    &.cards {
      display: none;
    }
  }

  &__card {
    &:hover {
      .m-card-gorizontal {
        &__title {
          color: var(--a-color_link);
        }
      }
    }
  }

  &__btn {
    margin: 0 auto;
    margin-top: rem(24);
    color: var(--a-color_bg);
    background-color: var(--a-color_link);

    // @media screen and (max-width: 767px) {
    //   display: none;
    // }
  }
}
