@import '@/assets/styles/tools/mixins';

.payment-thanks {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  width: 100%;
  background-color: var(--a-color_bg--secondary);

  &__content {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: rem(548);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    min-height: 100vh;
    @media screen and (max-width: 991px) {
      height: 100vh;
      min-height: 0;
    }
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: rem(40);
    padding: rem(120) rem(90);
    background: var(--a-color_bg);
    border-radius: rem(10);
  }

  &__cards {
    display: flex;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: rem(305);
    padding: rem(24);
    border-radius: rem(10);

    & + .payment-thanks__card {
      margin-left: rem(24);
    }

    &.lms {
      background-color: var(--a-color_banner--lightcyan);
    }

    &.docs {
      background-color: var(--a-color_bg--secondary);
    }

    &-title {
      margin-bottom: rem(12);
    }

    &-text {
      margin-bottom: rem(20);
    }

    &-button {
      &.a-button--ghost-accept {
        background-color: transparent;
      }
    }
  }

  &__title {
    margin-bottom: rem(32);
  }

  &__img {
    position: absolute;
    z-index: 10;
    right: rem(120);
    bottom: 0;
    display: flex;
  }

  &__svg {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    width: 45%;
    min-width: rem(680);
    @media screen and (max-width: 991px) {
      width: 50%;
      min-width: rem(360);
    }
    @media screen and (max-width: 600px) {
      position: static;
      width: 70%;
      margin-left: auto;
    }
  }
}
