@import '@/assets/styles/tools/mixins';

.s-program-people {
  .m-card-landing {
    width: rem(364);

    @media (max-width: 576px) {
      width: 100%;
    }
  }
  &__wrapper {
    width: 100%;
    margin: rem(20) auto;
    padding: var(--layout-v-padding) var(--layout-padding);
    background-color: var(--a-color_bg);
    border-radius: var(--a-borderRadius--bg);
  }

  &__title {
    margin-bottom: rem(40);
    color: var(--a-color_text);

    @media (max-width: 991px) {
      margin-bottom: rem(24);
      font-size: rem(20);
    }

    @media (max-width: 575px) {
      margin-bottom: rem(20);
    }

    span {
      color: var(--a-color_link);
    }
  }

  & .m-card-landing__image {
    height: rem(192);
    border-radius: var(--a-borderRadius);
    object-fit: cover;

    @media (max-width: 767px) {
      height: rem(128);
    }
  }
}
