@import '@/assets/styles/tools/mixins';

.s-program-university {
  &__wrapper {
    max-width: var(--layout-width);
    margin: rem(20) auto;
    padding: var(--layout-v-padding) var(--layout-padding);
    background-color: var(--a-color_bg);
    border-radius: var(--a-borderRadius--bg);

    @media (max-width: 991px) {
      margin: rem(12) auto;
    }
  }

  &__title {
    grid-column: 1;
    margin: 0 0 rem(16);
    @media (max-width: 767px) {
      margin: 0 0 rem(20);
      span {
        color: var(--a-color_link);
      }
    }
  }

  &__top {
    display: grid;
    justify-content: space-between;
    align-items: flex-start;
    grid-template-columns: rem(746) rem(128);
    @media (max-width: 991px) {
      grid-template-columns: rem(526) rem(48);
    }
    @media (max-width: 991px) {
      grid-gap: 0 rem(16);
      grid-template-columns: 1fr rem(48);
    }
  }

  &__introtext {
    grid-column: 1;
    margin: 0 0 rem(16);
    @media (max-width: 767px) {
      grid-column: 1 / -1;
    }
  }

  &__description {
    grid-column: 1;
    margin: 0 0 rem(16);
    @media (max-width: 767px) {
      grid-column: 1 / -1;
    }
  }

  &__img {
    grid-column: 2;
    grid-row: 1 / span 2;
    justify-self: end;
    width: 100%;
    height: auto;
    object-fit: cover;
    @media (max-width: 991px) {
      grid-row-start: 2;
    }
    @media (max-width: 767px) {
      grid-row: 1;
      margin: 0 0 rem(20);
    }
  }

  &__factoids {
    overflow: auto;
    width: 100%;
    margin: rem(8) 0 0;

    &-inner {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-gap: rem(64) 0;
      width: fit-content;
      padding: rem(40) rem(32) rem(46);
      border: 1px solid var(--a-color_thumbnail);
      border-radius: var(--a-borderRadius--default);
      @media (max-width: 767px) {
        grid-gap: rem(40) 0;
        margin: rem(4) 0 0;
        padding: rem(16) rem(24);
      }
    }

    & .a-factoid-number__wrapper {
      grid-column: span 2;
      min-width: fit-content;
      height: 100%;
      margin-left: rem(24);
      padding-left: rem(24);
      border-left: 1px solid var(--a-color_thumbnail);
      @media (max-width: 767px) {
        margin-left: rem(10);
        padding-left: rem(10);
      }
      h2 {
        white-space: nowrap;
      }
      &:first-child,
      &:nth-child(4) {
        margin-left: 0;
        padding-left: 0;
        border-left: 0;
      }
      &:nth-child(4),
      &:nth-child(5) {
        grid-column: span 3;
        grid-row: 2;
      }
      &:last-child {
        grid-column: 7 / -1;
        grid-row: span 2;
        align-self: center;
        justify-content: center;
        margin-left: rem(32);
        padding-left: rem(32);
        h2 {
          white-space: normal;
        }
        @media (max-width: 767px) {
          margin-left: rem(16);
          padding-left: rem(16);
        }
      }
    }
  }
}
