@import '@/assets/styles/tools/mixins';

.s-program-cpaLine {
  .l-wide {
    background: var(--a-color_link);
  }

  &__wrap {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: var(--a-borderRadius--bg);

    @media screen and (max-width: 550px) {
      flex-direction: column;
    }
  }

  &__text {
    padding-right: rem(40);
    color: var(--a-color_bg);

    @media screen and (max-width: 550px) {
      margin-bottom: rem(12);
      padding-right: 0;
    }
  }

  & .a-button {
    @media screen and (max-width: 550px) {
      width: 100%;
    }
  }
}
