@import '/assets/styles/tools/mixins';

.mobile-button {
  position: fixed;
  z-index: 100;
  left: 0;
  bottom: 20px;
  display: block;
  width: 100%;
  height: rem(46);
  padding: 0 var(--a-padding--x4);

  @media screen and (max-width: 767px) {
    display: block;
  }

  .m-form__checkbox {
    order: 9;
    margin-top: rem(20);

    .a-control__box .a-control__switch {
      &--checkbox:hover::before {
        top: rem(3);
      }
    }

    .a-control__box input:checked + .a-control__switch {
      &--checkbox::before {
        top: rem(3);
      }
    }
  }

  .m-form .a-control__label {
    align-items: flex-start;
  }

  .m-form__input.error-name input,
  .m-form__input.error-mail input {
    border: 2px solid var(--a-color_link);
    &:focus {
      border: 2px solid var(--a-color_link);
    }
  }

  &__btn {
    width: 100%;
    height: 100%;
  }
  & .vue-tel-input.error {
    border: 2px solid var(--a-color_link);
  }
}
