@import '/assets/styles/tools/mixins';

.catalog-page {
  margin: rem(48) auto rem(24);
  &__breadcrumbs {
    li.a-breadcrumbs__wrapper:not(:last-child) {
      @media all and (max-width: 730px) {
        display: flex;
      }
    }
  }

  &__section {
    margin: rem(24) auto;
    border-radius: rem(20);

    @media all and (max-width: 1300px) {
      padding: rem(55) rem(60) 0 rem(60);
    }

    @media all and (max-width: 1000px) {
      padding: rem(50) rem(40) 0 rem(40);
    }

    @media all and (max-width: 767px) {
      padding: rem(46) rem(30) 0 rem(30);
    }
  }

  &__header-total {
    color: var(--a-color_active);
    font-size: rem(16);

    @media all and (max-width: 500px) {
      display: flex;
    }
  }

  &__content {
    display: flex;
    padding: rem(24) 0 rem(80) 0;

    @media all and (max-width: 1200px) {
      padding: rem(20) 0 rem(48) 0;
    }

    @media all and (max-width: 767px) {
      padding: rem(20) 0 rem(24) 0;
    }
  }
}
