@import '@/assets/styles/tools/mixins';

.m-card-gorizontal {
  display: flex;
  flex-direction: column;
  height: rem(260);
  padding: 0;
  background-color: var(a-color_bg--secondary);
  border-radius: rem(45);
  @media screen and (max-width: 991px) {
    height: rem(180);
    border-radius: rem(32);
  }

  &__info {
    position: relative;
    width: 70%;
    height: rem(260);
    padding: rem(24) rem(32) rem(30) rem(24);
    @media screen and (max-width: 991px) {
      height: rem(180);
      padding: rem(16) rem(8) rem(24) rem(16);
    }
  }
  &__title {
    max-width: 100%;
    height: 100%;
    max-height: rem(48);
    margin-bottom: rem(12);
    color: var(--a-color_text);
    @media screen and (max-width: 767px) {
      margin-bottom: rem(4);
    }
  }

  &__description {
    position: absolute;
    bottom: rem(30);
    color: var(--a-color_active);

    @media screen and (max-width: 767px) {
      margin-bottom: rem(28);
    }
  }

  &__icon {
    position: relative;
    overflow: hidden;
    width: rem(40);
    height: rem(40);
    margin-bottom: rem(8);
    border-radius: 50%;

    i {
      font-size: rem(32);
    }

    img {
      width: 100%;
      height: auto;
    }

    .m-card-gorizontal:hover & {
      background-color: transparent;
      border: rem(1) solid var(--a-color_bg--secondary);
    }
  }
}
