@import '@/assets/styles/tools/mixins';

.s-program-about {
  max-width: var(--layout-width);
  margin: rem(20) auto;
  padding: var(--layout-v-padding) var(--layout-padding);
  background-color: var(--a-color_bg);
  border-radius: var(--a-borderRadius--bg);

  @media (max-width: 991px) {
    margin-bottom: rem(12);
  }
}
