@import '/assets/styles/tools/mixins';

.catalog-product-list {
  flex: 1;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(20);
    margin-bottom: rem(48);

    @media screen and (max-width: 1350px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 575px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    &-wrapper {
      display: flex;
      width: 100%;
      min-width: 0;
      text-decoration: none;
    }
  }
}
