@import '/assets/styles/tools/mixins';

.catalog-product-list {
  flex: 1;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 rem(-10) rem(38);

    @media screen and (max-width: 1200px) {
      margin-bottom: rem(24);
    }

    @media screen and (max-width: 767px) {
      margin-bottom: rem(10);
    }
  }

  &__item {
    &-wrapper {
      display: flex;
      width: 100%;
      text-decoration: none;
      max-width: calc((100% / 3) - rem(20));
      margin: 0 rem(10) rem(20);

      @media screen and (max-width: 1350px) {
        max-width: calc((100% / 2) - rem(20));
      }

      @media screen and (max-width: 970px) {
        max-width: 100%;
      }

      @media screen and (max-width: 767px) {
        max-width: calc((100% / 2) - rem(20));
        margin-bottom: rem(16);
      }

      @media screen and (max-width: 650px) {
        max-width: 100%;
      }
    }
  }
}
