@import '@/assets/styles/tools/mixins';

.s-program-form {
  position: relative;
  width: 100%;
  @media screen and (max-width: 991px) {
    margin: rem(12) auto;
  }
  .l-wide {
    background: var(--a-color_corporate--blue);
  }
  .m-form {
    border-radius: var(--a-borderRadius--bg);
  }
  .m-form__input.error-name input,
  .m-form__input.error-mail input {
    border: 2px solid var(--a-color_link);
    &:focus {
      border: 2px solid var(--a-color_link);
    }
  }
  & .vue-tel-input.error {
    border: 2px solid var(--a-color_link);
  }
}
