@import '@/assets/styles/tools/mixins';

.s-program-teacher-vertical {
  margin-bottom: rem(20);
  padding: rem(48) 0;
  background: var(--a-color_bg);
  border-radius: rem(10);

  @media (max-width: 991px) {
    margin-bottom: rem(12);
    padding: var(--a-padding--x10) 0;
  }

  @media (max-width: 575px) {
    padding: var(--a-padding--x6) 0;
  }

  &__title {
    margin-bottom: rem(40);
    color: var(--a-color_text);

    @media (max-width: 991px) {
      margin-bottom: rem(24);
      font-size: rem(20);
    }

    @media (max-width: 575px) {
      margin-bottom: rem(20);
    }

    span {
      color: var(--a-color_link);
    }
  }

  &__wrapper {
    width: 100%;
    max-width: rem(1140);
    margin: 0 auto;
    padding: 0 rem(30);

    @media (max-width: 1440px) {
      max-width: rem(1250);
    }

    @media (max-width: 1299px) {
      max-width: 100%;
    }

    @media (max-width: 575px) {
      padding: 0 rem(15);
    }
  }

  .m-card-speaker {
    @media (max-width: 991px) {
      gap: rem(18);
    }

    @media (max-width: 575px) {
      flex-wrap: wrap;
    }

    &:not(:last-child) {
      margin-bottom: rem(32);

      @media (max-width: 991px) {
        margin-bottom: rem(24);
      }
    }

    &__name {
      color: var(--a-color_text);
    }

    &__title {
      color: var(--a-color_text);
    }

    &__image {
      border-radius: var(--a-borderRadius--default);

      @media (max-width: 575px) {
        max-width: 100%;
      }
    }
  }
}
