@import '@/assets/styles/tools/mixins';

.s-program-info {
  &__wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: rem(20) auto;
    padding: var(--layout-v-padding) var(--layout-padding);
    background-color: var(--a-color_bg);
    border-radius: var(--a-borderRadius--bg);

    @media screen and (max-width: 991px) {
      margin: rem(12) auto;
      padding: rem(42) rem(30);
    }

    @media screen and (max-width: 767px) {
      padding: rem(40) rem(16);
    }
  }

  & .a-factoid-line__wrapper {
    max-width: rem(240);

    @media screen and (max-width: 991px) {
      max-width: rem(180);
    }

    h3 {
      white-space: nowrap;

      @media screen and (max-width: 991px) {
        font-size: rem(24);
      }
    }
  }

  & .a-factoid-line__title {
    white-space: nowrap;
  }

  &__items {
    position: relative;
    z-index: 1;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    @media screen and (max-width: 1199px) {
      right: -3%;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }

    svg {
      width: rem(264);
      height: rem(490);

      @media screen and (max-width: 1199px) {
        width: rem(219);
        height: rem(445);
      }

      @media screen and (max-width: 991px) {
        width: rem(173);
        height: rem(322);
      }

      @media screen and (max-width: 767px) {
        width: rem(130);
        height: rem(250);
      }
    }
  }
}
