@import '@/assets/styles/tools/mixins';

.s-menu-main {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  overflow: hidden;
  width: 100%;
  background: var(--a-color_bg);
  transform: translateY(-200%);

  &.open {
    transform: translateY(0);
  }

  @media screen and (max-width: 767px) {
    height: 100vh;
    max-height: 100vh;
    background: var(--a-color_bg--secondary);

    .l-wide {
      min-height: 100vh;
    }
  }

  .l-default {
    @media screen and (max-width: 767px) {
      padding: 0;
    }
  }
  .a-sidebarItem {
    cursor: inherit;
    &.active {
      background: var(--a-color_bg--secondary);
      @media screen and (max-width: 767px) {
        background: var(--a-color_bg);
      }
    }

    &__text {
      white-space: nowrap;
    }
  }

  .m-banner__main-wrapper {
    position: relative;
    min-width: rem(293);
    margin-top: var(--a-padding--x5);
    margin-left: auto;
    color: var(--a-color_bg);

    @media screen and (max-width: 1499px) {
      display: none;
    }
    @media screen and (max-width: 991px) {
      padding-top: var(--a-padding--x4);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  &__title {
    display: none;
    margin-bottom: rem(8);
    padding-left: var(--a-padding--x4);

    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  &__box {
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      min-height: 100vh;
    }
  }

  &__items {
    overflow-y: scroll;
    min-width: rem(262);
    height: calc(var(--vh, 1vh) * 100 - 156px);
    max-height: 100vh;
    padding-top: var(--a-padding--x5);
    padding-right: var(--a-padding--x3);

    @media screen and (max-width: 991px) {
      min-width: rem(300);
      padding-top: 0;
      padding-right: 0;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      height: calc(var(--vh, 1vh) * 100 - 136px);
      padding-right: 0;
      background: var(--a-color_bg--secondary);
      border-right: none;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--a-color_thumbnail);
      border-radius: rem(7);
    }
  }

  &__content {
    overflow-x: hidden;
    overflow-y: scroll;
    width: auto;
    height: calc(var(--vh, 1vh) * 100 - 156px);
    max-height: 100vh;
    margin-right: rem(23);
    margin-left: rem(12);
    padding-top: var(--a-padding--x5);
    padding-right: rem(22);
    padding-left: var(--a-padding--x8);
    border-left: 1px solid var(--a-color_thumbnail);
    transition: all 0.4s ease-in-out;
    @media screen and (max-width: 1499px) {
      width: auto;
    }
    @media screen and (max-width: 991px) {
      height: calc(var(--vh, 1vh) * 100 - 116px);
      margin-right: 0;
      margin-left: 0;
      padding-top: var(--a-padding--x4);
      padding-right: 0;
      padding-left: var(--a-padding--x6);
    }
    @media screen and (max-width: 767px) {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(var(--vh, 1vh) * 100 - 136px);
      max-height: 100vh;
      padding-left: 0;
      background: var(--a-color_bg--secondary);
      transform: translateX(200%);
    }

    &.open {
      transform: translateX(0);
    }

    &::-webkit-scrollbar {
      width: rem(4);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--a-color_thumbnail);
      border-radius: rem(7);
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .si-chevron-down {
        color: var(--a-color_thumbnail);
        &::before {
          font-size: rem(20);
        }
      }
    }

    &-icon {
      display: none;
      transition: all 0.4s ease-in-out;
      @media screen and (max-width: 767px) {
        display: block;
      }
    }

    &-title {
      margin-bottom: rem(12);
      color: var(--a-color_text);
      @media screen and (max-width: 767px) {
        margin-bottom: 0;
      }

      &:hover {
        color: var(--a-color_link);
      }
    }

    &-product {
      display: block;
      margin-bottom: rem(8);
      color: var(--a-color_text);
      text-decoration: none;

      @media screen and (max-width: 767px) {
        padding: var(--a-padding--x3) 0;
        border-bottom: 1px solid var(--a-color_bg--secondary);
      }

      &:hover {
        color: var(--a-color_link);
      }

      .si-chevron-right {
        display: none;
      }
    }

    &-list {
      transition: all 0.4s ease-in-out;
      @media screen and (max-width: 767px) {
        overflow: hidden;
        max-height: 0;
        margin: 0;
        padding: 0;
      }
    }

    &-more {
      display: flex;
      align-items: center;
      margin-top: rem(12);
      color: var(--a-color_text--secondary);
      text-decoration: none;
      &:hover {
        color: var(--a-color_link);
      }
      &--icon {
        &::before {
          width: auto;
          font-size: rem(12);
        }
      }
    }
  }

  &__banner {
    margin-left: auto;
  }

  &__item {
    min-width: rem(222);
    margin-bottom: rem(4);

    @media screen and (max-width: 1499px) {
      min-width: rem(130);
    }

    @media screen and (max-width: 767px) {
      background: var(--a-color_bg);
      border-radius: 10px;
    }

    .a-sidebarItem {
      height: rem(40);

      &__text {
        overflow: hidden;
        max-width: rem(182);
        padding: 0 rem(5);
        text-overflow: ellipsis;

        @media screen and (max-width: 767px) {
          max-width: calc(100% - rem(33));
        }
      }
    }
  }

  &__links {
    display: none;
    margin: 0 rem(-16);
    flex-wrap: wrap;
    @media screen and (max-width: 767px) {
      margin: 0;
    }

    &.active {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &-top {
      display: flex;
      align-items: center;
      width: 100%;
      padding-bottom: var(--a-padding--x8);
      @media screen and (max-width: 767px) {
        padding-bottom: var(--a-padding--x6);
      }
    }

    &-title {
      margin: 0 rem(16);
      @media screen and (max-width: 991px) {
        margin: 0 rem(16);
      }

      @media screen and (max-width: 767px) {
        margin: 0;
      }
    }

    &-item {
      width: calc(33.3333% - 32px);
      margin: 0 rem(16) rem(32);
      animation: show 0.4s ease-in-out;

      @media screen and (max-width: 991px) {
        width: calc(50% - 32px);
      }

      @media screen and (max-width: 767px) {
        width: 100%;
        margin: 0 0 rem(4);
        padding: var(--a-padding--x4);
        background: var(--a-color_bg);
        border-radius: 10px;
      }

      &.open {
        .s-menu-main {
          &__link {
            &-list {
              max-height: rem(3000);
            }
            &-icon {
              transform: rotate(180deg);
            }
          }
        }
      }
    }

    &-icon {
      display: none;
      @media screen and (max-width: 767px) {
        display: flex;
        align-items: center;
        font-size: rem(20);
        &::before {
          color: var(--a-color_active);
        }
      }
    }
  }

  &__login {
    width: 100%;
    margin: rem(20) 0;
    padding: 0 var(--a-padding--x4);
    @media screen and (max-width: 767px) {
      display: block;
    }
    .a-button,
    .a-button .a-button__label {
      width: 100%;
      max-width: 100%;
    }
  }

  &__location {
    display: none;
    @media screen and (max-width: 991px) {
      display: block;
      margin: rem(13) 0;
      padding: 0 var(--a-padding--x4);
    }
  }

  &__loggedin {
    display: none;
    @media screen and (max-width: 767px) {
      display: block;
      border-radius: var(--a-borderRadius--bg);
      overflow: hidden;
      padding: 0 rem(18);
      background: var(--a-color_bg);
      margin-bottom: rem(16);
    }
  }

  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
