@import '@/assets/styles/tools/mixins';

.s-program-questions {
  margin-bottom: rem(20);
  background: var(--a-color_bg);
  border-radius: var(--a-borderRadius--bg);

  @media (max-width: 991px) {
    margin-bottom: rem(12);
  }
  &__wrapper {
    padding: var(--a-padding--x15) var(--a-padding--x20);

    @media screen and (max-width: 991px) {
      padding: var(--a-padding--x10) var(--a-padding--x8);
    }

    @media screen and (max-width: 767px) {
      padding: var(--a-padding--x8) var(--a-padding--x4);
    }
  }

  &__title {
    margin-bottom: rem(20);

    @media screen and (max-width: 767px) {
      margin-bottom: rem(16);
    }
  }

  &__row {
    padding: var(--a-padding--x6) 0;
    border-bottom: rem(1) solid var(--a-color_thumbnail);
    cursor: pointer;

    @media screen and (max-width: 767px) {
      padding: var(--a-padding--x4) 0;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    width: 100%;
    max-width: rem(820);
    margin-top: rem(16);
  }
}
