@import '@/assets/styles/tools/mixins';

.s_banner {
  &__link {
    width: 100%;
    text-decoration: none;
    &.multibanner {
      display: flex;
      align-items: stretch;
      width: calc(50% - rem(10));
      object-position: initial;

      @media screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: rem(20);

        &:last-child {
          margin-bottom: 0;
        }
      }

      .s_banner {
        width: 100%;
      }
    }
  }
}

.l-wide.banners {
  display: flex;
  justify-content: space-between;
  margin-top: rem(30);
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.m-banner__img {
  object-position: right;

  &-wrapper {
    width: 100% !important;
  }
}
