.s_main_programs {
  &__h2 {
    display: flex;
    margin-bottom: 24px;
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 32px;
  }
  &__wrapper {
    flex-grow: 1;
    max-width: calc(33% - 10px);
    text-decoration: none;
    cursor: pointer;

    @media screen and (max-width: 1100px) {
      max-width: calc(50% - 10px);
    }
    @media screen and (max-width: 767px) {
      max-width: 100%;
    }
  }

  &__btn {
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__btn-link {
    text-decoration: none;
  }
}
