@import '@/assets/styles/tools/mixins';
.m-quiz {
  background: var(--a-color_bg--secondary);
  &__baner {
    position: relative;
    overflow: hidden;
    padding: rem(50) rem(100);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    @media screen and (max-width: 991px) {
      padding: var(--a-padding--x6) var(--a-padding--x8);
    }
    @media screen and (max-width: 767px) {
      padding: var(--a-padding--x8) var(--a-padding--x4);
    }
  }
  &__baner-img {
    position: absolute;
    right: rem(100);
    bottom: 0;
    width: rem(310);
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    @media screen and (max-width: 991px) {
      right: rem(25);
    }
    @media screen and (max-width: 580px) {
      right: rem(-100);
    }
  }
  &__title {
    max-width: rem(380);
  }
  &__descript {
    padding: var(--a-padding--x4) 0 var(--a-padding--x5) 0;
  }

  // block quiz
  &__quiz {
    display: flex;
    align-items: center;
    padding: rem(60) rem(100);
    background: var(--a-color_banner--lightcyan);
    @media screen and (max-width: 1140px) {
      padding: var(--a-padding--x12) var(--a-padding--x12);
    }
    @media screen and (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
      padding: var(--a-padding--x8);
    }
    @media screen and (max-width: 767px) {
      padding: var(--a-padding--x5) var(--a-padding--x4);
    }
  }

  &__questions {
    flex-basis: 40%;
  }
  &__prev {
    margin-bottom: var(--a-padding--x5);
    color: var(--a-color_text--secondary);
    cursor: pointer;
    & i {
      color: var(--a-color_active);
      font-size: rem(18);
    }
  }
  &__question {
    padding-right: rem(100);
    padding-bottom: var(--a-padding--x5);
    @media screen and (max-width: 767px) {
      padding-right: 0;
    }
  }

  &__control {
    flex-basis: calc(50% - 20px);
    margin: 0 rem(20) rem(12) 0;
    background: var(--a-color_bg);
    border-radius: var(--a-borderRadius--default);
    @media screen and (max-width: 767px) {
      flex-basis: 100%;
      margin: 0 0 var(--a-padding--x3) 0;
    }
    label {
      padding: var(--a-padding--x3) var(--a-padding--x10) var(--a-padding--x3) var(--a-padding--x5);
      @media screen and (max-width: 767px) {
        padding: var(--a-padding--x2) var(--a-padding--x4);
      }
    }
  }

  &__answers {
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;

    &.column {
      flex-basis: 30%;
      flex-direction: column;

      @media screen and (max-width: 991px) {
        width: 50%;
        flex-basis: 50%;
      }

      @media screen and (max-width: 767px) {
        flex-direction: row;
        width: 100%;
        flex-basis: 100%;
      }
    }
  }

  // block finish
  &__finish {
    padding: rem(50) rem(100);
    background: var(--a-color_banner--lightcyan);
    @media screen and (max-width: 991px) {
      display: flex;
      align-items: center;
      padding: var(--a-padding--x6) var(--a-padding--x8);
    }
    @media screen and (max-width: 767px) {
      display: block;
      padding: var(--a-padding--x5) var(--a-padding--x4);
    }
  }
  &__finish-text {
    @media screen and (max-width: 991px) {
      width: 50%;
      padding-right: var(--a-padding--x4);
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      padding-right: 0;
    }
  }
  &__finish-title {
    padding-bottom: var(--a-padding--x2);
  }
  &__finish-desc {
    padding-bottom: var(--a-padding--x5);
  }
  &__finish-inputs {
    width: 90%;
    @media screen and (max-width: 991px) {
      width: 50%;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
  &__finish-data {
    display: flex;
    padding-bottom: var(--a-padding--x5);

    @media screen and (max-width: 991px) {
      flex-flow: column;
    }

    & .a-input {
      width: 100%;
      margin-right: var(--a-padding--x2);
      flex-grow: 1;
      @media screen and (max-width: 991px) {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: var(--a-padding--x3);
      }
    }
    & .a-input__wrapper {
      width: 100%;
    }
    & .a-input__row {
      width: 100%;
    }

    & .a-button {
      width: 100%;
      max-width: rem(330);
      @media screen and (max-width: 991px) {
        max-width: 100%;
      }
    }
  }

  &__finish-sogl {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: var(--a-padding--x8);
    color: var(--a-color_text--secondary);
    cursor: pointer;
    @media screen and (max-width: 767px) {
      padding-right: 0;
      label {
        p {
          font-size: rem(12);
          line-height: 1.2;
        }
      }
    }
    .a-control__label-box {
      width: auto;
    }
    & label {
      align-items: flex-start;
      padding: 0;
    }
  }

  &__finish-sogl-text {
    color: var(--a-color_text);
    line-height: rem(24);
  }

  &__finish-sogl-policy {
    color: var(--a-color_link);

    &:hover {
      border-bottom: rem(1) solid var(--a-color_link);
    }
  }

  &__finish-checkbox {
    .a-control__box .a-control__switch {
      &--checkbox:hover::before {
        top: rem(3);
      }
    }

    .a-control__box input:checked + .a-control__switch {
      &--checkbox::before {
        top: rem(3);
      }
    }
  }

  div.vue-tel-input {
    margin-right: var(--a-padding--x2);
  }

  & .a-input__wrapper.error-name input {
    border: 2px solid var(--a-color_link);
    &:focus {
      border: 2px solid var(--a-color_link);
    }
  }
  & .vue-tel-input.error {
    border: 2px solid var(--a-color_link);
  }
}

.policy {
  .a-popup__container {
    max-width: 50%;
    @media screen and (max-width: 991px) {
      max-width: 80%;
    }
    @media screen and (max-width: 767px) {
      max-width: 95%;
    }

    h1 {
      margin-bottom: rem(21);
      @media screen and (max-width: 767px) {
        font-size: rem(14);
      }
    }
    h2 {
      margin-bottom: rem(16);
      @media screen and (max-width: 767px) {
        font-size: rem(12);
      }
    }

    ul {
      display: flex;
      flex-direction: column;
    }
    p,
    li {
      width: 100%;
      margin-bottom: rem(8);
      font-size: rem(12);
      text-align: left;
      @media screen and (max-width: 767px) {
        font-size: rem(10);
      }
    }

    a {
      margin-bottom: rem(16);
      color: var(--a-color_link);
      text-decoration: underline;
      @media screen and (max-width: 767px) {
        font-size: rem(12);
      }
    }
  }

  &__popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
