@import '@/assets/styles/tools/mixins';

.s-program-recommend {
  margin-bottom: rem(20);

  @media (max-width: 991px) {
    margin-bottom: rem(12);
  }

  .swiper {
    &-button-disabled {
      display: none;
    }

    &-button-next,
    &-button-prev {
      @media screen and (max-width: 991px) {
        display: none;
      }
    }

    &-button-next {
      right: rem(-12);
    }

    &-button-prev {
      left: rem(-12);
    }

    &-button-next::after,
    &-button-prev::after {
      content: none;
    }
  }

  &__wrapper {
    padding: var(--layout-padding);
    background-color: var(--a-color_bg);
    border-radius: var(--a-borderRadius--bg);
  }

  .m-card-program {
    width: rem(370);

    @media screen and (max-width: 767px) {
      width: rem(328);
    }

    @media screen and (max-width: 320px) {
      width: rem(270);
    }
  }

  &__title {
    margin-bottom: rem(40);
  }

  &__swiper {
    position: relative;
  }

  &__button {
    .a-button__icon {
      color: var(--a-color_text--secondary);
      font-size: rem(24);
    }
  }
}
