@import '@/assets/styles/tools/mixins';

.s-main-university {
  .m-card-program__wrapper {
    flex-grow: 1;
    text-decoration: none;
  }
  .a-button {
    margin: 0 auto;
    @media all and (max-width: 767px) {
      width: 100%;
      height: rem(40);
    }

    &__wrapper {
      text-decoration: none;
    }
  }
  &__title {
    margin-bottom: rem(24);
    color: var(--a-color_text);
    @media all and (max-width: 767px) {
      margin-bottom: rem(16);
    }
  }
  &__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: rem(20);
    margin-bottom: rem(32);
    @media all and (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media all and (max-width: 767px) {
      gap: rem(16);
      margin-bottom: rem(20);
      grid-template-columns: 1fr;
    }
  }
}
