@import '@/assets/styles/tools/mixins';

.s-main-university {
  .container {
    max-width: rem(1510);
    margin: 0 auto;
  }
  .m-card-program {
    flex-grow: 1;
    max-width: calc(33% - rem(11));
    @media all and (max-width: 991px) {
      max-width: calc(50% - rem(11));
    }
    @media all and (max-width: 767px) {
      max-width: unset;
    }
  }
  .a-button {
    margin: 0 auto;
    @media all and (max-width: 767px) {
      width: 100%;
      height: rem(40);
    }

    &__wrapper {
      text-decoration: none;
    }
  }
  &__title {
    margin-bottom: rem(24);
    color: var(--a-color_text);
    @media all and (max-width: 767px) {
      margin-bottom: rem(16);
    }
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: rem(20);
    margin-bottom: rem(32);
    @media all and (max-width: 767px) {
      gap: rem(16);
      margin-bottom: rem(20);
    }
  }
}
